@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.text-vertical {
  writing-mode: vertical-rl; /* Rotates the text vertically */
  transform: rotate(180deg); /* Flips text for proper direction */
}

